{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="row">
                    <span>{{ timer }}</span> SECONDS
                    <legend>Step Three: Congratulations!</legend>
                    <img src="{{ random_gif }}" />
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
{% endblock %}
